.accessories {
    margin-top: 100px;
    margin-bottom: 100px;
}


.accessoriesContainer {
    margin: 0 auto;
    padding: 0px 30px;
    max-width: 1536px;
}

.pageTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageTitle h2 {
    margin-top: 20px;
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: italic;
    word-spacing: 2px;
    line-height: 1.5;
    font-size: 35px;
}

@media screen and (max-width: 460px) {
    .mainAccessories {
        overflow-x: hidden;
    }
}
